// You can generate them at https://console.developers.google.com/project/dartdocs/apiui/credential
private_key_id: "private_key"
private_key: "-----BEGIN PRIVATE KEY-----\nprivate_key\n-----END PRIVATE KEY-----\n"
client_email: "client_email@developer.gserviceaccount.com"
client_id: "client_id.apps.googleusercontent.com"
type: "service_account"
