google_cloud:
  // You can generate them at https://console.developers.google.com/project/dartdocs/apiui/credential
  private_key_id: "private_key"
  private_key: "-----BEGIN PRIVATE KEY-----\nprivate_key\n-----END PRIVATE KEY-----\n"
  client_email: "client_email@developer.gserviceaccount.com"
  client_id: "client_id.apps.googleusercontent.com"
  type: "service_account"
cloudflare:
  // You can get them in CloudFlare -> My Account.
  api_key: adb7e2ccafb342aabebfa8d4633501462f4c9
  email: your.user@example.com
  zone: 721fe21ea39123516629b0505fc1457f
